<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">
  <div class="content">
    <form [formGroup]="imageUploadForm">
      <input (change)="this.onFileSelected($event)" type="file" accept="image/*" formControlName="fileInput">
    </form>
    <div class="left-side" style="margin-top:20px;margin-right: 10px;">
      <p>Source</p>
      <img [src]="sourceImage" width="400" />
      <p>{{sourceSize}}</p>
    </div>
    <div class="right-side" style="margin-top:20px;">
      <p>Result</p>
      <img [src]="resultImage" width="400" />
      <p>{{resultSize}}</p>
    </div>
  </div>
</main>


<router-outlet />